@{
    ViewBag.Title = "Payment Success";
}

<h1>Payment Success</h1>

<p>@ViewBag.Message</p>
<p>Order ID: @ViewBag.OrderId</p>
<p>Total Amount: @ViewBag.TotalAmount</p>
<p>Payment Status: @ViewBag.PaymentStatus</p>
<p>Payment Date: @ViewBag.PaymentDate</p>

@if (ViewBag.ChapaReceiptUrl != null)
{
<h3>Receipt</h3>
<a href="@ViewBag.ChapaReceiptUrl" target="_blank">Click here to view your receipt</a>
}
else
{
<p>Receipt could not be retrieved. Please try again later.</p>
}
tttttttt