@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BIMS.Models.User>

<h2>Delivery Personnel</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName @user.MiddleName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No delivery personnel found.</p>
}

